.header {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.typing {
  font-size: 42px;
}

.typing > span {
  color: #000000;
}
@media only screen and (max-width: 430px) {
  .typing {
    font-size: 25px;
  }
}