.smButton {
  border: none;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 5px solid #000000;;
}

.nav_item {
  place-self: flex-end;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  background-color: #ffffff;  
  margin-bottom: 13px;
}

.nav_item > a {
  text-decoration: none;
  color: #000000;
}

.nav_item:hover {
  place-self: flex-end;
  border: 1px solid #000000;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  background-color: #000000;
}

.nav_item:hover > a {
  color: #ffffff;
}

.nav_item:hover > h1 {
  color: #ffffff;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropbtn {
  background-color: white;
  border: 1px solid black !important;
  border-radius: 5px;
  text-align: center;
  color: black;
  padding: 5px;
  font-size: 24px;
  border: none;
  background-color: white;  
}
@media only screen and (max-width: 500px) {
  .dropbtn {
    background-color: white;
    border: 1px solid black !important;
    border-radius: 5px;
    text-align: center;
    color: black;
    padding: 5px;
    font-size: 14px;
    border: none;
    background-color: white;  
  }
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:13px;
  }
  
  .nav_item {
    place-self: flex-end;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    background-color: #ffffff;  
    margin-bottom: 13px;
    font-size:14px;
  }
  
  .nav_item > a {
    text-decoration: none;
    color: #000000;
  }
  
  .nav_item:hover {
    place-self: flex-end;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    background-color: #000000;
  }
  
  .nav_item:hover > a {
    color: #ffffff;
  }
  
  .nav_item:hover > h1 {
    color: #ffffff;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 5px;
  place-self: flex-end; 
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {background-color: #ddd;}

.dropdown:hover .dropdownContent {display: block;}

.dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}