.appearance {
    font-size: 16px;
    margin-bottom: 20px;
}
.appTitle {
    font-size: 16px !important;
}
@media only screen and (max-width: 400px) {

    .appearance {
        font-size: 9px;
        margin-bottom: 12px;
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .appTitle {
        font-size: 10px !important;
    }
}