.computer {
    font-size: 16px;
    margin-bottom: 20px;
}
.compTitle {
    font-size: 16px !important;
}
@media only screen and (max-width: 480px) {

    .computer {
        font-size: 9px;
        margin-bottom: 12px;
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .compTitle {
        font-size: 10px !important;
    }
}