.interest {
    font-size: 16px;
    margin-bottom: 20px;
}
.intTitle {
    font-size: 16px !important;
}
@media only screen and (max-width: 500px) {

    .interest {
        font-size: 9px;
        margin-bottom: 12px;
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
    .intTitle {
        font-size: 10px !important;
    }
}