.generate {
    font-size: 16px;
    margin-bottom: 20px;
}

.balloon {
    font-size:16px;
}

@media only screen and (max-width: 430px) {

    .generate {
        font-size: 9px;
        margin-bottom: 12px;
        padding-left: 3px !important;
        padding-right: 3px !important;
    }    
    .balloon {
        font-size:9px;
    }
}