 body {
  width: 1400px;
  margin: auto !important;
  flex-direction: column;
  background-color: gray !important;
}


/*@media screen and (max-width: 1000px) {
  body {
    width: 100%;
    margin: 0;
  }
}
 */