@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 
body.dark-mode {
  width: 1200px;
  margin: auto !important;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive; 
  background-color: gray;
}
body.light-mode {
  width: 1200px;
  margin: auto !important;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
}

/*@media screen and (max-width: 1000px) {
  body {
    width: 100%;
    margin: 0;
  }
}
 */